<section>
    <div class="aboutus-pages">
        <div class="container container-v2">
            <div class="about-introduce">
                <div class="row">
                    <div class="col-md-6 intro_detail d-flex align-items-left">
                        <div class="info-intro">
                            <h3 class="title_intro">ABOUT US</h3>
                            <p class="des_intro"></p>
                            <p class="content_intro"> The story of a house-wife (Chitra aka Aunty) from Patna who started pursuing her passion of cooking in her second innings, at the age of 65.<br/><br/>

With support of family, she started her home cloud kitchen (Aunty's Kitchen) in her society in Bangalore. And the culinary journey began! <br/><br/>

Delicacies made by her received huge admiration and love from the residents (Bestseller being Litti Chokha). Aunty's Kitchen was operational twice in a week and was going good.<br/><br/>

But life had different plans. There were frequent health issues and the kitchen remained closed for many months. But as we know, a woman (mother) doesn't give up easily. Infact, she stood tall and came back stronger with a more structured way! <br/><br/>

Then, was the inception of Litti In Town (LIT) in 2023, an initiative by Aunty's Kitchen to take the famous Litti Chokha to another level.<br/><br/>

We have introduced different variants of Litti in both Veg and Non-Veg category.<br/><br/>

Ingredients used are fresh and of premium quality (be it Atta, Oil, Ghee, Sattu, veggies etc.) - even meat used is fresh (No Frozen items). We strictly follow - NO compromise on quality as Health is priority.<br/><br/>

Mantra is to provide homely, healthy and hygenic food so that everyone can relish.</p>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <img class="w-100" src="assets/images/aboutUsOwnerImage.jpeg">
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>
