<footer
  class="footer set-bg"
  data-setbg="img/footer-bg.jpg"
  style="background-image: url('assets/images/footer-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h6>WORKING HOURS</h6>
          <ul>
            <li>Mon, Tue, Wed and Fri : 12:30 PM – 09:15 PM</li>
            <li>Thursday: Closed</li>
            <li>Saturday: 12:30 PM – 09:15 PM</li>
            <li>Sunday: 12:30 PM – 09:15 PM</li>

          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__logo">
            <a href="#"><img width="60" src="assets/images/litti_logo.png" alt="" /></a>
          </div>
          <p>
            Please do subscribe our channel on instagram for latest offers.
          </p>
          <div class="footer__social">
            <!--<a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>-->
            <a href="https://www.instagram.com/invites/contact/?i=icr98ay8gn36&utm_content=rm2n6c6"><i class="fa fa-instagram"></i></a>

          </div>
          <pre></pre>
          <p>
            We are also available on Zomato, Swiggy and Ondc.
          </p>
          <div class="footer__social">
            <!--<a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>-->
            <a href="https://link.zomato.com/xqzv/rshare?id=44775556b6db97bc"><!--<i class="fa fa-instagram"></i>-->&nbsp;Zomato </a>
            <a style="margin: 10px;" href="https://www.swiggy.com/menu/725798?source=sharing"><!--<i class="fa fa-instagram"></i>-->&nbsp;Swiggy </a>
            <a href="#"><!--<i class="fa fa-instagram"></i>--> &nbsp;ONDC</a>

          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__newslatter">
          <h6>Contact US</h6>
          <p>Get latest updates and offers for bulk order.</p>
          <h2 style="color:white">Contact number</h2>
                                <p>7676370677</p>
                                <h2 style="color:white">Contact address</h2>
                                <p class="address hidden-sm hidden-xs">191/3, 1st Floor, Opposite Panchayath Office, Near Candeur Landmark, Varthur Main Road, Whitefield, Bangalore</p>
          <!--<form action="#">
            <input type="text" placeholder="Email" />
            <button type="submit"><i class="fa fa-send-o"></i></button>
          </form>-->
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <p class="copyright__text text-white">
            Copyright ©
            <script
              type="text/javascript"
              async=""
              src="https://www.google-analytics.com/analytics.js"></script>
            <script>
              document.write(new Date().getFullYear());
            </script>
            2023 All rights reserved | This template is made with
            <i class="fa fa-smile-o" aria-hidden="true"></i> by
            <a href="https://splexinov.org" target="_blank">Splex Innovation</a>
          </p>
        </div>
        <div class="col-lg-5">
          <div class="copyright__widget">
            <ul>
              <!--<li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Site Map</a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
