<section>
  <div class="history-pages">
    <div class="container container-v2">
      <div class="history-introduce">
        <div class="row">
          <div class="col-md-6 intro_detail d-flex align-items-left">
            <div class="info-intro">
              <h3 class="title_intro">HISTORY & DESCRIPTION</h3>
              <p class="des_intro"></p>
              <p class="content_intro">
                Litti-Chokha is a special delicacy from Bihar which has gained
                fame across India. The flavours represent the earthiness of the
                state which can be found at street stalls, but limited in
                premium fine-dine.
                <br /><br />
                Famous for its rustic taste, Litti is traditionally made of Atta
                (whole wheat flour), stuffed with Sattu (bengal gram flour aka
                desi protein) mixed with home-made spices and baked over
                coal/wood-fire and finally tossed with Ghee. Chokha is mash of
                (roasted - brinjal, tomato and potato) and spices along with
                mustard oil to get that pungent flavour. It is served with green
                coriander chutney. It is very healthy, as both dishes are
                completely baked/roasted (except the Ghee part).
                <br /><br />
                People often confuse Litti with closely look alike rajasthani
                dish - baati. But it is completely different from the latter, in
                all aspects - taste, texture and preparation.
                <br /><br />
                In various parts, Litti is also served with Chicken and Mutton
                masala (gravy).

                <br /><br />
              </p>
            </div>
          </div>
          <div class="col-md-6" style="background-color:#ad2826;">
            <img class="w-100 hisImg" src="assets/images/history.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
