// Default button variables
$primary-font: Roboto, "Helvetica Neue", sans-serif;
$btn-font-size: 0.875rem;
$btn-font-weight: bold;
$btn-padding: 0 1rem;
$btn-line-height: 2.25rem;
$btn-min-width: 4rem;
$btn-min-height: 2.25rem;

// Primary button variables
$btn-primary-bg-color: #2E2E38;
$btn-primary-border-color: #2E2E38;
$btn-primary-color: #FFFFFF;
$btn-primary-disabled-bg-color: #EAEAF2;
$btn-primary-disabled-border-color: #EAEAF2;
$btn-primary-disabled-color: #747480;
$btn-primary-hover-bg-color: #FFFFFF;
$btn-primary-hover-border-color: #2E2E38;
$btn-primary-hover-color: #2E2E38;

// Secondary button variables
$btn-secondary-bg-color: #FFFFFF;
$btn-secondary-border-color: #2E2E38;
$btn-secondary-color: #2E2E38;
$btn-secondary-disabled-bg-color: #EAEAF2;
$btn-secondary-disabled-border-color: #EAEAF2;
$btn-secondary-disabled-color: #747480;
$btn-secondary-hover-bg-color: #2E2E38;
$btn-secondary-hover-border-color: #2E2E38;
$btn-secondary-hover-color: #FFFFFF;

// Icon button variables
$btn-icon-color: #1A1A24;
$btn-icon-padding: 0.3rem;
$btn-icon-hover-color: #1A1A24;
$btn-icon-hover-bg-color: #E1E1E6;
$btn-icon-focus-color: #1A1A24;
$btn-icon-focus-bg-color: #E1E1E6;
$btn-icon-disabled-color: #747480;

// tooltip variables
$tooltip-text-color: #1A1A24;;
$tooltip-background-color: #FFFFFF;
$tooltip-font-size: 0.875rem;
$tooltip-font-family: Roboto, "Helvetica Neue", sans-serif;
$tooltip-box-shadow: 0 0 8px 2px #00000026;
$tooltip-border-radius: 0;

