<!-- <header class="header-area">
  <div class="container">
    <div class="header-wrap">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
        </div>
      </nav>

    </div>
  </div>
</header> -->



<!-- working blwo -->
<!--
<header class="header-area">
  <div class="container">
    <div class="header-wrap">
      <div
        class="header-top d-flex justify-content-between align-items-center navbar-expand-md">
        <div class="col menu-left d-none d-sm-block">
          <a class="active" href="index.html">Home</a>
          <a href="menu.html">menu</a>
          <a href="about.html">about</a>
        </div>

        <div class="col-3 logo ">
          <a href="index.html" class="d-none d-sm-block"><img class="mx-auto" width="180" src="assets/images/littiintwon.jpeg" alt="" /></a>

          <a href="index.html" class="d-sm-block d-xs-block d-md-none d-lg-none"><img class="mx-auto" width="90" src="assets/images/littiintwon.jpeg" alt="" /></a>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavbar"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse menu-right"
            id="collapsibleNavbar">
            <ul class="navbar-nav justify-content-center w-100">
              <li class="nav-item hide-lg">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item hide-lg">
                <a class="nav-link" href="menu.html">menu</a>
              </li>
              <li class="nav-item hide-lg">
                <a class="nav-link" href="about.html">about</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="gallery.html">Gallery</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="gallery.html">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gallery.html">Gallery</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header> -->


<header class="header-area">
  <div class="container">
    <div class="header-wrap">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto menu-all">
            <li class="nav-item hide-lg">
              <!-- <a class="nav-link" href="index.html">Home</a> -->
              <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
            </li>

            <li class="nav-item hide-lg">
              <a class="nav-link" routerLink="/about" routerLinkActive="active-link">about</a>
            </li>

          </ul>
        </div>
        <div class="navbar-brand mb-0 h1 mx-auto order-0">
          <!-- <a class="navbar-brand mx-auto" href="#">Navbar 2</a> -->
          <div class="logo ">
            <a style="background-color:#ffffff"  href="index.html" class="d-none d-sm-block ">
              <img class="mx-auto" width="180" src="assets/images/litti_logo.png" alt="" />

            </a>


            <a href="index.html" class="d-sm-block d-xs-block d-md-none d-lg-none ">
              <img class="mx-auto mobileLogo"
                width="90" src="assets/images/litti_logo.png" alt="" /></a>
                <div class="whiteDownArrow d-none d-sm-block"></div>
          </div>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>


        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto  menu-all">
            <li class="nav-item hide-lg">
                <a class="nav-link" routerLink="/menu" routerLinkActive="active-link">Menu</a>
              </li>

            <li class="nav-item hide-lg">
              <a class="nav-link" routerLink="/history" routerLinkActive="active-link">History</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active-link">Contact us</a>
            </li>
          </ul>
        </div>
      </nav>


    </div>
  </div>
</header>






































<!--

  <div
            class="collapse navbar-collapse menu-right"
            id="collapsibleNavbar">
            <ul class="navbar-nav justify-content-center w-100">
              <li class="nav-item hide-lg">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item hide-lg">
                <a class="nav-link" href="menu.html">menu</a>
              </li>
              <li class="nav-item hide-lg">
                <a class="nav-link" href="about.html">about</a>
              </li>

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbardrop"
                  data-toggle="dropdown">
                  Pages
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="contact.html">Contact</a>
                  <a class="dropdown-item" href="elements.html">Elements</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbardrop"
                  data-toggle="dropdown">
                  Blog
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="blog-home.html">Blog</a>
                  <a class="dropdown-item" href="blog-single.html">Blog Detail</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="gallery.html">Gallery</a>
              </li>
            </ul>
          </div>
 -->
