<section>
    <div class="contactUs-pages">
        <div class="container container-v2">
            <div class="contact-introduce">
                <div class="row">
                    <div class="col-md-8 intro_detail d-flex align-items-left">
                        <div class="info-intro">
                            <h3 class="title_intro">CONTACT US</h3>
                            <p class="des_intro"></p>
                            <p class="content_intro">

                            </p>

                            <div class="col-md-12 text-left small-screen-left hidden-sm hidden-xs" data-os-animation="fadeInRight"><!--<h2 class="address d-weight">Dominos Customer Care Number</h2>
                                <p class="tel-no hidden-sm hidden-xs">1860-210-0000</p>-->
                                <h2 class="address d-weight">Contact number</h2>
                                <p>7676370677</p>
                                <h2 class="address d-weight">Contact address</h2>
                                <p class="address hidden-sm hidden-xs">191/3, 1st Floor, Opposite Panchayath Office, Near Candeur Landmark, Varthur Main Road, Whitefield, Bangalore</p>
                                <!-- <br> <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.1293718539937!2d77.34349591467769!3d28.53583088245602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce670f356fd21%3A0x4c3ff857e0997214!2sLogix+Techno+Park!5e0!3m2!1sen!2sin!4v1493040775658" height="250" width="100%"></iframe> -->


                                <div class="divider-wrapper">&nbsp;</div>
                                </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <img style="height: 550px;" class="w-100" src="assets/images/WhatsApp.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
